@* @model IEnumerable<JoseSieiro_Chatbox_CalES.Models.Comment> *@
@model JoseSieiro_Chatbox_CalES.ViewModels.CommentVM
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@if (Model != null)
{
	@foreach (var comment in Model.Comments)
	{
		<tr>
			<td>
				<div class="card" style="background-color: #555;">
					<div class="card-body">
						<div class="row">


							<div class="col-2">
								<br />
								<span>
									@if (comment.User.ImageUrl.Length > 0)
									{
										<img src="@Url.Content(comment.User.ImageUrl)" alt="No Image" class="circular-image-comment" />
									}
									else
									{
										<img src="@Url.Content("/images/default.jpg")" alt="No Image" class="circular-image-comment" />

									}
								</span>

								<span style="margin-right:15px; font-size:16px; color:#FFFFFF">
									<strong>
									@comment.User.Username
									</strong>
								</span>
							</div>
							<div class="col-10" style="display: flex; align-items: center;">
								<span style="font-size:20px; color:#FFFFFF">
									@Html.DisplayFor(modelItem => comment.Text)
								</span>

							</div>
						</div>

						
								<div class="row">
									<div class="col-10 offset-2">
										@foreach (var reply in comment.Replies)
										{
											<div class="card" style="background-color: #999;">
												<div class="card-body">
											<div class="row">
												<div class="col-3">
													<span>
														@if (reply.User.ImageUrl.Length > 0)
														{
															<img src="@Url.Content(reply.User.ImageUrl)" alt="No Image" class="circular-image-reply" />
														}
														else
														{
															<img src="@Url.Content("/images/default.jpg")" alt="No Image" class="circular-image-reply" />

														}
													</span>
													<br />
													<span style="margin-right:15px; font-size:16px; color:#000000">
														<strong>
														@if (reply.User != null && !string.IsNullOrEmpty(comment.User.Username))
														{
															@reply.User.Username
														}
														else
														{
															// Manejar el caso en que el nombre de usuario es nulo o vacío
															<text>No Username</text>
														}
														</strong>
													</span>
												</div>
												<div class="col-9">
													<span style="margin-left:10px; font-size:20px; color:#000000">
														@reply.Text
													</span>
												</div>
											</div>
											</div></div>




										}

										
										<br />
										<form asp-action="PostReply" asp-controller="ChatRoom" method="post">

											<input type="text" name="Reply" style="width:100% " placeholder="Type reply" />

											<br />
											<br />
											<input type="hidden" name="CommentId" value="@comment.Id" />

											<input type="submit" value="Post Reply" class="btn btn-info" />

										</form>

									</div>
								</div>
							
					</div>
				</div>
			</td>

		</tr>
	}
}
