@* @model IEnumerable<JoseSieiro_Chatbox_CalES.Models.Comment> *@
@model JoseSieiro_Chatbox_CalES.ViewModels.CommentVM
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1 class="text-center"><strong>Welcome to the chat</strong></h1>



	<div class="row">
		<div class="col-12">
			<div class="card" style="background-color: #333;">
				<div class="card-body">
					@{
						string userImageUrl = HttpContextAccessor.HttpContext.Session.GetString("UserImageUrl");
					}
					<div class="row">
						<div class="col-2">
							@if (userImageUrl.Length > 0)
							{
								<img src="@Url.Content(userImageUrl)" alt="No Image" class="circular-image-user" />
							}
							else
							{
								<img src="@Url.Content("/images/default.jpg")" alt="No Image" class="circular-image-user" />
							}
						</div>
						<div class="col-8">
							
							<div class="row">
								<div class="col-12">
									<h4  style="color: #FFFFFF;">
										<strong>
											@Html.DisplayFor(model => model.FullName)
										</strong>
									</h4>
									
								</div>
							</div>
							<div class="row">
								<div class="col-12">

									<h4 style="color: #FFFFFF;">
										<strong>
											@Html.DisplayFor(model => model.Username)
										</strong>
									</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<h4   style="color: #FFFFFF;">
										<strong>
											@Html.DisplayFor(model => model.Email)
										</strong>
									</h4>
									
								</div>
							</div>


						</div>
					</div>

					<br />
					<form asp-action="PostComment" asp-controller="ChatRoom" method="post"  enctype="multipart/form-data">

						<input class="pull-right" type="text" name="CommentText" style="width:100% " placeholder="Type new comment" />
						<br />
						<br />
						<input type="file" name="attachedDocument" style="color:white"/>

						<br />
						<br />

						<input class="btn btn-success" type="submit" value="Post Comment" class="btn btn-success" />

					</form>
				</div>
			</div>

		</div>


	</div>




<div class="row">
	<div class="col-12">
		<div class="card" style="background-color: #333;">
			<div class="card-body">
		
		<table class="table" id="commentTable">
			<thead>
				<div class="row">
					<div class="col-8">

					</div>
					<div class="col-4">

						
						<input type="text" id="filter" class="form-control form-control-sm" placeholder="Filter Comments" />
						

					</div>
				</div>
				<br />
			</thead>
			<tbody>


						@Html.Partial("_Comments", Model)
					

			</tbody>
			
		</table>
			</div>
		</div>
    </div>
</div>











@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	<script>
		$(document).ready(function () {



			$('#filter').on('keyup', function (event) {

				var filter = $("#filter").val();

				SearchComments(filter);

			});


			function SearchComments(filter) {

				$.ajax({
					type: "POST",
					url: "/ChatRoom/SearchComments",
					data: {
						filter: filter,

					},
					success: function (result) {




						$('#commentTable tbody').html(result);



					},
					error: function (xhr, status, error) {
						// Mostrar detalles del error en la consola
						console.error("Error en la solicitud AJAX");
						console.log("Status: " + status);
						console.log("Error: " + error);
						console.log(xhr.responseText);

					}
				});
				/////////////////////////////////////////////////////////////////////////////////////////
			}



		});
	</script>
}